**/*.rs.bk
.#*
.gdb_history
Cargo.lock
target/
vendor/

embedded_docs/*.pdf
Notes.md

# editor files
.vscode/*
!.vscode/*.md
!.vscode/*.svd
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json